
/* MAIN */
.main {
  background-color: #f8f8f8;
}
.main>.inner {
  background-color: #fff;
  height: 1600px;
  position: relative;
  /* background-color: red; */
}

  /* VISUAL */
.main .visual {

}
.main .visual .country-box {
  width: 500px;
  height: 120px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  border-radius: 8px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 120px;
  display: flex;
}
.main .visual .country-box .departure-box {
  width: 50%;
  height: 100%;
}
.main .visual .country-box .destination-box .title,
.main .visual .country-box .departure-box .title {
  width: 100%;
  height: 25%;
  border-bottom: 1px solid #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Righteous';
}
.main .visual .country-box .destination-box .title>span,
.main .visual .country-box .departure-box .title>span{
  line-height: 50px;
  font-size: 15px;
  color: rgb(94, 92, 92)
}
.main .visual .country-box .destination-box .destination__country,
.main .visual .country-box .departure-box .departure__country {
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .visual .country-box .departure-box .departure__country::after {
  content: "";
  width: 60px;
  height: 60px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  transform: rotate(45deg);
  position: absolute;
  left: 40%;
}
.main .visual .country-box .destination-box .destination__country input,
.main .visual .country-box .departure-box .departure__country input {
  border: none;
  font-size: 25px;
  height: 50px;
  width: 150px;
  text-align: center;
}
.main .visual .country-box .destination-box .destination__country input::placeholder,
.main .visual .country-box .departure-box .departure__country input::placeholder {
  color: black;
}
.main .visual .country-box .destination-box .destination__country input:focus,
.main .visual .country-box .departure-box .departure__country input:focus {
  outline: none;
}
.main .visual .country-box .destination-box {
  width: 50%;
  height: 100%;
}
.main .visual .country__detail {
  width: 500px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 250px;
  display: flex;
  justify-content: space-around;
}
.main .visual .country__detail .detail {
  font-size: 15px;
  color: #158fff;
  cursor: pointer;
}
.main .visual .country__detail .detail:hover {
  text-decoration: underline;
}
.main .visual .flight-search {
  width: 500px;
  height: 30px;
  position: absolute;
  top: 290px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 1px solid #158fff;
  border-radius: 8px;
  transition: .4s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.main .visual .flight-search:hover {
  background-color: #158fff;
  color: #fff;
}
.main .visual .flight-search span {
  font-size: 15px;
}

  /* INFO */
.info {

}
.info .section-line {
  width: 1200px;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  top: 430px;
  z-index: 1;
}
.info>.inner{
  position: relative;
  top: 400px;
  width: 900px;
  margin: 0 auto;
  height: 100%;
}
.info .info__menu {
  display: flex;
  font-size: 20px;
  color: #ccc;
}
.info .info__menu .travel-ongoing:hover,
.info .info__menu .travel-before:hover {
  color: #158fff;
  cursor: pointer;
}
.info .info__menu .travel-ongoing.focused,
.info .info__menu .travel-before.focused {
  color: #158fff;
}
.info .info__menu .travel-before {
  margin-right: 60px;
}

    /* INFO_CONTENTS */
.info .info__contents {
  
}
.info .info__contents .contents__before {
  
}

.info .info__contents .contents__before .summary {
  width: 100%;
  height: 130px;
  box-shadow: 0px 0px 19px rgba(92, 152, 156, 0.15);
  border-radius: 16px;
  position: relative;
  top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.info .info__contents .contents__before .summary li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info .info__contents .contents__before .summary li .test-circle,
.info .info__contents .contents__before .summary li .article-circle,
.info .info__contents .contents__before .summary li .home-circle {
  border: 1px solid #158fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info .info__contents .contents__before .summary li .test-circle span,
.info .info__contents .contents__before .summary li .article-circle span,
.info .info__contents .contents__before .summary li .home-circle span {
  color: #158fff;
  font-size: 40px;
}
.info .info__contents .contents__before .summary li .text3,
.info .info__contents .contents__before .summary li .text2,
.info .info__contents .contents__before .summary li .text1 {
  margin-left: 20px;
  font-size: 15px;
  line-height: 1.5em;
}
.info .info__contents .contents__before .summary li .text3 span:first-child
.info .info__contents .contents__before .summary li .text2 span:first-child
.info .info__contents .contents__before .summary li .text1 span:first-child {
  font-weight: 900;
}

.info .info__contents .contents__before .main-contents {

}
.info .info__contents .contents__before .main-contents li:first-child {
  margin-top: 40px;
}
.info .info__contents .contents__before .main-contents li {
  position: relative;
  top: 50px;
  margin-top: 40px;
}
.info .info__contents .contents__before .main-contents li h2 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}
.info .info__contents .contents__before .main-contents li .box3, 
.info .info__contents .contents__before .main-contents li .box2, 
.info .info__contents .contents__before .main-contents li .box1 {
  box-shadow: 0px 0px 19px rgba(92, 152, 156, 0.15);
  border-radius: 16px;
  width: 100%;
  padding: 30px 50px;
  box-sizing: border-box;
}
.info .info__contents .contents__before .main-contents li .box3 h3, 
.info .info__contents .contents__before .main-contents li .box2 h3,
.info .info__contents .contents__before .main-contents li .box1 h3 {
  font-weight: 900px;
  font-size: 15px;
  margin-bottom: 10px;
}
.info .info__contents .contents__before .main-contents li .box3 span, 
.info .info__contents .contents__before .main-contents li .box2 span,
.info .info__contents .contents__before .main-contents li .box1 span {
  font-weight: 700px;
  opacity: .6;
  line-height: 1.5em;
  font-size: 15px;
}

.info .info__contents .contents__ongoing {
  
}
.info .info__contents .contents__ongoing.hide,
.info .info__contents .contents__before.hide {
  display: none;
}


/* POP UP */
#bg {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .23;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  display: none;
}
#bg.active {
  display: block;
}
#pop-up {
  width: 550px;
  padding: 30px 30px;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  top: 170px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 9;
  display: none;
}
#pop-up.active {
  display: block;
}
#pop-up .title {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 60px;
}
#pop-up .contents {
  font-size: 15px;
}
#pop-up .contents .text-box {
  margin-bottom: 60px;
}
#pop-up .contents .text-box h3 {
  font-weight: 700;
  margin-bottom: 15px;
}
#pop-up .contents .text-box span {
  line-height: 1.5em;
  color: black;
  opacity: .6;
}
#pop-up .contents .detail {
  text-align: center;
  font-size: 15px;
  margin-bottom: 30px;
}
#pop-up .contents .detail a {
  color: #158fff;
}
#pop-up .contents .detail a:hover {
  text-decoration: underline;
}
#pop-up .btn {
  width: 24px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}